pcgen/system/npcgen/options/options.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="race">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="choice" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="npcgen_options">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="align" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="race" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="gender" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="class" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="level" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="game_mode" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="level">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="choice"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="gender">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="choice" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="class">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="choice" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="choice">
		<xs:complexType>
			<xs:attribute name="weight" type="xs:integer" use="optional" default="1"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="align">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="choice" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
