system/npcgen/treasure/treasure.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="entry">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="equipment" maxOccurs="unbounded"/>
				<xs:element ref="eqmod" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="weight" type="xs:positiveInteger" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eqmod">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="link" type="xs:string"/>
			<xs:attribute name="pre" type="xs:string"/>
			<xs:attribute name="roll" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eqmod_table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="equipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eqmod" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="link" type="xs:string"/>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="choose" type="xs:string"/>
			<xs:attribute name="quantity" type="xs:string"/>
			<xs:attribute name="rolls" type="xs:string"/>
			<xs:attribute name="size" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="equipment_tables">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="table"/>
				<xs:element ref="eqmod_table"/>
			</xs:choice>
			<xs:attribute name="game_mode" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entry" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
